<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Dojos and Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>

<body>
    <div id="upper">
        <div id="left">
            <h1>Add a Dojo</h1>
            <form action="addDojo" id="formDojo" method="POST">
                {% csrf_token %}
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>

                    <label for="city">City:</label>
                    <input type="text" id="city" name="city">
                </div>
                <div>
                    <label for="state">State:</label>
                    <input type="text" id="state" name="state">
                </div>
                <button type='submit'>Add</button>
            </form>
        </div>
        <div id="right">
            <h1>Add a Ninja</h1>
            <form action="addNinja" id="formNinja" method="POST">
                {% csrf_token %}
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name">
                </div>
                <div>

                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name">
                </div>
                <div>
                    <label for="dojo">Dojo:</label>
                    <select name="dojo" id="dojo">
                        {% for dojo in all_dojos%}
                        <option value="{{dojo.name}}">{{dojo.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type='submit'>Add</button>
            </form>
        </div>
    </div>
    <div id="lower">
        <h1>All the Dojos</h1>
        
            {% for dojo in all_dojos %}
            <h3>Ninjas at the {{dojo.name}} Dojo </h3>
                <ul>
                    {% for ninja in dojo.ninjas.all %}
                        <li>{{ninja.first_name}} {{ninja.last_name}}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
    </div>
</body>

</html>