<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Read (One)</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>

<body>
    <a href="/shows">Go Back</a>

    <h1>TV Shows {{show.id}}</h1>
    <p>Title: {{show.title}}</p>
    <p>Network: {{show.network}}</p>
    <p>Release Date: {{show.releaseDate}}</p>
    <p>Description: {{show.desc}}</p>
    <p>Last Updated {{show.updated_at}}</p>

    <a href="{% url 'edit' show.id %}">Edit</a> |
    <a href="{% url 'delete' show.id %}">Delete</a>
    </table>
</body>

</html>