#top_box {
    margin: 50px auto;
}
h1 {
    margin: 10px auto;
    text-align: center;
}
#middle_box{
    margin: 50px auto;
    width: 50%;
    border: solid black 5px;
}
#button_box{
    margin: 50px auto;
    display: block;
    text-align: center;
}
button{
    margin: 0 50px;
    display: inline;
}