<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Delete a new course</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>

<body>
    <h1>Are you sure you want to delete the following course?</h1>
    <h2>Name: {{course.name}} </h2>
    <h2>Description: {{course.desc.desc}}</h2>

    <button onclick="location.href='http://127.0.0.1:8000/'" type="button">No</button>
    <button style="background-color: red;" onclick="location.href='{% url 'delete' course.id %}'" type="button">Yes! I want to delete this </button>

</body>