#Upper{
    margin: auto;
}
#Upper h1{
    text-align: center;
}
#Lower{
    margin: auto
}

#Lower #row{
    text-align: center;
    margin: 10px 50px;
}

#Lower h1{
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-color: #9ABAD9;
    border-spacing: 0;
    margin: auto;
}

.tg td {
background-color: #EBF5FF;
border-color: #9ABAD9;
border-style: solid;
border-width: 1px;
color: #444;
font-family: Arial, sans-serif;
font-size: 14px;
overflow: hidden;
padding: 10px 5px;
word-break: normal;
}

.tg th {
background-color: #409cff;
border-color: #9ABAD9;
border-style: solid;
border-width: 1px;
color: #fff;
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: normal;
overflow: hidden;
padding: 10px 5px;
word-break: normal;
}

.tg .tg-hmp3 {
background-color: #D2E4FC;
text-align: left;
vertical-align: top
}

.tg .tg-0lax {
text-align: left;
vertical-align: top
}