<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>

<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <div>
        <p>ID: {{author.id}}</p>
    </div>
    <div>
        <p>Notes: </p>
        <p>{{author.notes}}</p>
    </div>
    <div>
        <p>Books:</p>
        <ul>
            {% for book in author.books.all %}
            <li>{{book.title}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="addBook2Author/{{author.id}}" id="formaddBook2Author" method="POST">
            {% csrf_token %}
            <select name="bookTitle" id="bookTitle">
                {% for book in all_books%}
                {% if book not in author.books.all %}
                <option value="{{book.title}}"> {{book.title}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type='submit'>Add</button>
        </form>
    </div>
</body>

</html>