#wrapper{
    display: block;
}
#top_box{
    display: flex;
    margin: 10px 0px;
    vertical-align:middle;
}
#top_box #your_gold{
    margin-right: 10px;
}
#top_box #gold_numer{
    padding-left: 10px;
    width: 50px;
    border: solid black 1px;
}
#top_box button{
    margin: 25px 10px;
}
#middle_box{
    margin: 5px auto;
    display: inline;
    vertical-align: middle;
}
#middle_box #location{
    display: inline-block;
    width: 20%;
    padding: 10px;
    border: solid black 1px;
    text-align: center;
}
#bottom_box{
    margin: 5px 5px;
    
}
#activity_box{
    padding: 10px;
    border: solid black 1px;
}
.earn{
    color: green;
}
.lose{
    color: red;
}