<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">    
</head>
<body>
    <div id="top_box">
        <h1>Random Word (attempt #{{counter}})</h1>
    </div>
    <div id="middle_box">
        <h1>{{string}}</h1>
    </div>
    <div id='button_box'>
        <form action="generate" method="POST">
            {% csrf_token %}
            <button type='submit'>Generate</button>
        </form>
        <form action="reset" method="POST">
            {% csrf_token %}
            <button type='submit'>Reset</button>
        </form>
    </div>
</body>
</html>